.formLogin{
    padding-top: 5vh;
}
.formLogin img{
    margin-left: 30%;
}
.fieldsLogin{
    padding-top: 10vh;
}
.bgLogin p{
    
}

.bgLogin img{
    margin-right: 30vh;
    margin-top: 25vh;
    
}

.menu-lateral{
    height: 100vh;
    color: white;
    font-style: bold;
    box-shadow: 5px 0px 8px #888888
}
.menu-lateral div{
    width: 100%;
    padding: 0;
}
.menu-lateral nav{
    width: 100%;
    padding: 0;
}
.menu-lateral ul{
    width: 100%;
    
}
.menu-lateral li{
    width: 100%;
    
}
.menu-lateral i{
    
}
.menu-lateral a{
    width: 100%;
    text-align: center;
}


