<script src="view/js/contaController.js"></script>
<script>
        fillTipo();
        fillImovel();
    $(function() {
        $('#valor').maskMoney();
        $("#dtPagamento").mask("99/99/9999");
        $("#dtVencimento").mask("99/99/9999");
    })
</script>
<h1 id="h1Cad">Cadastro de Contas</h1>
<hr id="hrCad">

<table>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="valor">Valor:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="valor" data-affixes-stay="true" data-thousands="." data-decimal="," class="form-control">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="dtPagamento"> Data de Pagamento: </label>
                <input type="text" id="dtPagamento" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="dtVencimento"> Data de Vencimento: </label>
                <input type="text" id="dtVencimento" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="tipo">Tipo de Conta</label>
                <select name="tipo" id="tipo_id" class="form-control">
                    <option value="-1">Selectione uma opção</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Imovel">Cod. Imóvel:</label>
               <select name="imovel" id="imovel_id" class="form-control">
                   <option value="-1">Selecione um imovel</option>
               </select>
            </div>
        </div>
        <div class="col">
                <div class="form-group">
                    <label for="status">Status:</label>
                   <select name="status" id="status" class="form-control">
                       <option value="-1">Selecione um imovel</option>
                       <option value="1">Pendente</option>
                       <option value="2">Pago</option>
                   </select>
                </div>
            </div>
        <div class="col">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea  id="descricao" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button"  id="btnSaveEdit" onClick="salvar()" class="btn btn-block btn-outline-success">Salvar</button>
            <button type="reset" class="btn btn-block btn-outline-info" >Limpar Campos</button>
        </div>
    </div>
</table>