<script src="view/js/imovelController.js"></script>
<script>
    $(function(){
        $("#cep").mask("99999-999");
    });
</script>
<h1 class="h1" id="h1Cad"> Cadastro de Imóveis </h1>
<hr/ id="hrCad">

<form >
    <div class="row">
        <div class="col-2">
            <label for="cod">Código do Imovel:</label>
            <input type="text" id="cod" placeholder="Código" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" placeholder="Endereço" class="form-control">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="bairro">Bairro: </label>
                <input type="text" id="bairro" placeholder="Bairro" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="estado">Estado: </label>
                <select name="estado" id="estado" class="form-control" onChange="fillCidade()">
                    <option value="-1"> Selecione um Estado</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <select name="cidade" id="cidade" class="form-control">
                    <option value="-1"> Selecione uma cidade</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="cep"> CEP: </label>
                <input type="text" id="cep" placeholder="CEP" pattern= "\d{5}-?\d{3}" maxlength="9" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" id="complemento" placeholder="Complemento" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="referencia">Referência: </label>
                <input type="text" id="referencia" placeholder="Referência" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="status">Status:</label>
                <select name="status" id="status" class="form-control"> 
                    <option value="-1"> Selecione um Status </option>
                    <option value="0"> Alugado</option>
                    <option value="1"> Vago </option>
                    <option value="2"> Outros </option>
                </select>
            </div>
        </div>
        <div class="col">
            
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="sabesp">
                <label for="sabesp" class="mr-5">SABESP</label>

                <input type="checkbox" class="form-check-input" id="elektro">
                <label for="elektro">ELEKTRO</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="iptu">
                <label for="iptu">IPTU</label>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button"  id="btnSaveEdit" class="btn btn-block btn-outline-success" onclick="salvar()">Salvar</button>
            <button type="reset" class="btn btn-block btn-outline-info" >Limpar Campos</button>
        </div>
    </div>
</form>