<script src="view/js/inquilinoController.js"></script>
<script>
    $(function(){
        $("#divConjuje").hide();
        $("#cpf").mask("999.999.999-99");
        $("#dataNascimento").mask("99/99/9999");
        $("#telefoneCelular").mask("(99) 99999-9999");
        $("#telefoneFixo").mask("(99) 9999-9999");
        fillImoveis();
    });
</script>
<h1 id="h1Cad">Cadastro de Inquilinos</h1>
<hr id="hrCad">


<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nomeCompleto" placeholder="Nome Completo" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="rg">RG:</label>
                <input type="text" id="rg" placeholder="RG" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="orgaoEmissor">Orgão Emissor</label>
                <input type="text" id="orgaoEmissor" placeholder="Orgão Emissor" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="text" id="dataNascimento" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="telefoneCelular">Telefone Celular:</label>
                <input type="text" id="telefoneCelular" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="telefoneFixo">Telefone Fixo:</label>
                <input type="text" id="telefoneFixo" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="estadoCivil">Estado Civil:</label>
                <select name="estadoCivil" id="estadoCivil" class="form-control" onClick="showConjuje()">
                    <option value="-1">Selecione uma Opção</option>
                    <option value="1"> Solteiro </option>
                    <option value="2">Casado</option>
                    <option value="3">Viúvo</option>
                    <option value="4">Separado Judicialmente</option>
                    <option value="5">Divorciado</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Email" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email2">Email:</label>
                <input type="email2" id="email2" placeholder="Email" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="imovel">Imóvel</label>
                <select name="imovel" id="imovel_id"  class="form-control">
                    <option value="-1" selected>Selecione um Imóvel</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group" id="divConjuje">
                <label for="nomeConjuje">Cônjuje:</label>
                <input type="text" id="nomeConjuje" placeholder="Nome do Cônjuje" class="form-control" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" id="btnSaveEdit" class="btn btn-block btn-outline-success" onclick="salvar()">Salvar</button>
            <button type="reset" class="btn btn-block btn-outline-info" >Limpar Campos</button>
        </div>
    </div>

</form>