<script src="view/js/tipoController.js"></script>

<h1 id="h1Cad">Cadastro de Tipo de Conta</h1>
<hr id="hrCad">

<form >
    <div class="row">
        <div class="col">
            <label for="nome">Tipo:</label>
            <input type="text" id="nome" placeholder="Tipo de Conta" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-right mt-5">
                <button type="button" id="btnSaveEdit"  onclick="salvar()" class="btn btn-block btn-outline-success">Salvar</button>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class=" col ">
            <table id="tipoTables" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ações</th>
                       
                    </tr>
                </thead>
                <tbody id="dtBody">
                    
                </tbody>
            </table>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modalContent">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalBody">
            <form >
                <div class="row">
                    <div class="col">
                        <label for="nome">Tipo:</label>
                        <input type="text" id="nomeEdit" placeholder="Tipo de Conta" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="text-right mt-5">
                            <button type="button" id="btnEdit"  onclick="salvar()" class="btn btn-block btn-outline-success">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" id="modalFooter">
          
        </div>
      </div>
    </div>
  </div>
  