<script src="view/js/contaController.js"></script>
<script> 
    getContas();
</script>
<h1>Consulta de Contas</h1>
<hr>

<table id="conta" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data de Vencimento</th>
            <th>Data de Pagamento</th>
            <th>Status</th>
            <th>Tipo</th>
            <th>Cod. Imóvel</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody id="dtBody">

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modalContent">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalBody">
         
        </div>
        <div class="modal-footer" id="modalFooter">
          
        </div>
      </div>
    </div>
  </div>
  