<script>
    $(function(){
        $.extend(true, $.fn.DataTable.defaults,{
            "searching": false,
            "ordering": false,
            "pagination": false
        })
        
    });
    $.get( "controller/app.php/main", function( response ) {
        $.each(response, function (i, d) {
            $("#nCasas").text(d.TODOS);
            $("#alugadas").text(d.ALUGADO);
            $("#vago").text(d.VAGO);
            $("#outros").text(d.OUTROS);
        });
    });
    $.get( "controller/app.php/contas/pendentes", function( response ) {
        $.each(response, function (key, value) {
          $("#tablebody").append(
              "<tr><td>"+value.id+"</td>\
                <td>"+value.cod+"</td>\
                <td>"+value.dataPagamento+"</td>\
                <td>R$ "+value.valor+"</td></tr>"
          );
        });
    }).done(function(){
        $("#contaPagar").DataTable({
            language:{
                url : "view/js/translate.json"
            },
            "paging": false
        });
    });
</script>
<h1 class="h1 text-center">DashBoard</h1>
<hr>
<div class="row">
    <div class="col-3 notification">
        <table  class="table table-hover table-sm table-striped">
            <tbody>
                <tr>
                    <th scope="row">Casas Alugadas</th>
                    <td id="alugadas"></td>
                </tr>
                <tr>
                    <th scope="row">Casas Vago</th>
                    <td id="vago"></td>
                </tr>
                <tr>
                    <th scope="row">Casas Outros</th>
                    <td id="outros"></td>
                </tr>
                <tr>
                    <th scope="row">Casas Cadastradas</th>
                    <td id="nCasas"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5 text-right" style="margin-left: 49vh;">
        <table id="contaPagar" class="table table-striped table-bordered" style="width:100%">
            <thead>
                
                <th scope="row">Cod Conta</th>
                <th>Cod. Imóvel</th>
                <th scope="row" >Data de Vencimento</th>
                <th scope="row"> Valor </th>
            </thead>
            <tbody id="tablebody">
                
            </tbody>
        </table>
    </div>
</div>